<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new.css">
    <title>相酒屋</title>
  </head>
  <body>
      <img src="https://vox.athome.co.jp/vox/wp-content/uploads/n5-kei-43-1.jpg" width="300px">
    <div class="text">
			<h2>相酒屋とは</h2>
  	</div>
    <div class="text2">
			<h2>相酒屋(あいさかや)は新たな好みのお酒との<br>出会いの場です。日本酒の繊細な味を言葉で<br>表すのは至難の業であり、もっと直感的に素<br>晴らしいお酒との出会いを果たして欲しいと<br>いう想いから作成しました。図のお好きな場<br>所をクリックするとおすすめのサイトに移動<br>します。素敵な出会いがありますように。</h2>
  	</div>
  </body>
</html>