<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/index.css">
    <title>相酒屋</title>
  </head>

  <body>
    <div class="img">
    </div>
    <div class="title">
      <h1>相酒屋</h1>
    </div>
	  <div class="message">
      <h2>相酒屋は新たな好みのお酒との出会いの場です。</h2>
    </div>
    <div class="animation">
      <div class="effect"></div>
      <%= link_to '←入店する', new_sake_path %>
    </div>
  </body>
</html>