<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new.css">
    <title>相酒屋</title>
  </head>

	<div class="cp_cont">
		<div class="cp_offcm01">
			<input type="checkbox" id="cp_toggle01">
			<label for="cp_toggle01"><span></span></label>
			<div class="cp_menu">
			<ul>
			<li><%=link_to '相酒屋とは？', new_aisakaya_path %></li> 
			<%# <li><%=link_to '私のおすすめの酒', user_session_path</li>  %>
			<%# <li><%=link_to '飲んだお酒メモ', new_memo_path</li>  %>
			<%# <li><a href="#">menu4</a></li>
			<li><a href="#">menu5</a></li> %>
			</ul>
			</div>
		</div>
		<div class="title">
			<h1>-相酒屋-</h1>
  	</div>
  		<div class="content">
			<h1>お好きなポイントをクリックして下さい</h1>
  	</div>
  	<div class="img_block">
			<img src="https://img.furusato-tax.jp/img/x/stg/product/detail/details/20200910/spdd_330ef73978a23aa33c06b0ba7f8093b012b3b164.jpg" alt=”マトリックス” usemap="#image-map" >  
			<map name="image-map">
    		<area alt="1"  href="http://www.aramasa.jp/" coords="0,0,451,288" shape="rect">
    		<area alt="2"  href="http://www.kenbishi.co.jp/" coords="290,0,900,288" shape="rect">
    		<area alt="3"  href="http://www.heiwashuzou.co.jp/wordpress/" coords="0,290,451,576" shape="rect">
  	  	<area alt="4"  href="https://harukasumi.com/" coords="451,290,900,576" shape="rect">
	 		</map>
  	</div>
	</div>
</html>